{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Found Snippets</h2>
        <div class="searchbar">
  <form class="searchbar__form" action="/search" method="GET">
    <img class="searchbar__icon" src="/static/img/open1.png" alt="search">
    <input
      class="searchbar__input"
      type="search"
      name="q"
      placeholder="Search snippets"
      autocomplete="off"
      value='{{.Query}}'
    />
  </form>

  <div class="searchbar__actions">
    <button class="searchbar__btn" type="button" title="Sort" aria-label="Sort">
      ⇅
    </button>

    <button class="searchbar__btn searchbar__btn--badge" type="button" title="Filter" aria-label="Filter">
      ⚲
      <span class="searchbar__dot" aria-hidden="true"></span>
    </button>
  </div>
</div>
        {{if .Snippets}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Snippets}}
            <tr>
                <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
                <td>{{humanDate .Created}}</td>
                <td>#{{.ID}}</td>
            </tr>
            {{end}}
        </table>
        {{else}}
            <p>There's nothing to see here... yet!</p>
        {{end}}
{{end}}