{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <!-- Use the new template function here -->
            <time>Created: {{humanDate .Created}}</time>
            <time>Expires: {{humanDate .Expires}}</time>
        </div>
    </div>
    <div class='metadata'>
            <a class="button" href="/snippet/update/{{.ID}}">Edit</a>
        <form action='/snippet/delete' method='POST'>
            <input type='hidden' name='csrf_token' value='{{$.CSRFToken}}'>
            <input type='hidden' name='id' value='{{.ID}}'>
            <input type='submit' value="Delete">
        </form>
    </div>

    {{end}}
{{end}}